    name: Go test

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

    jobs:
      build:

        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version: 1.22.2

        - name: Install dependencies
          run: go mod tidy

        - name: Build
          run: go build ./...

        - name: Run tests
          run: go test ./... -v